# Compiled executable
main

# Object files
*.o

# Generated assembly
*.s

# Build directory
build/
compiler/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS/editor files
.vscode/
.DS_Store


